.skeleton {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    background: lightgray;
    animation: skeleton 0.6s alternate infinite;
    &__header {
        background: grey;
        border-radius: 8px;
        padding-bottom: 0.2em;
        height: 2.5em;
    }

    &__detail {
        height: 1em;
        display: flex;
        margin-top: 0.8em;
        justify-content: flex-start;
        & span {
            background: grey;
            border-radius: 8px;
            width: 6em;
            height: 1em;
            margin-right: 1em;
        }
    }
}

.skeletoncomblock {
    width: 100%;
    margin: 4em 0 0 10px;
    height: auto;
    animation: skeleton 0.6s alternate infinite;

    &__header {
        &:after {
            content: "Comments";
            font-size: 2em;
        }
    }
    &__comment {
        margin: 1.2em 0 0.5em;
        display: flex;
        justify-content: start;
        & span {
            background: grey;
            border-radius: 8px;
            width: 5em;
            height: 1em;
            margin-right: 1em;
        }
    }

    &__text {
        margin-right: 10px;
        height: 5em;
        border-radius: 8px;
        background: grey;
    }
}

@keyframes skeleton {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}
