@import "nullStyles.scss";

$color1: rgb(241, 242, 251);
$color2: white;
$color3: rgb(71, 75, 255);

body {
    background-color: $color1;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(37, 51, 66);
}

/*********** MAIN PAGE ***********/
.container {
    padding: 3em 7em;
}
.top-on-page {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3em;
    color: $color3;

    &__name {
        color: $color3;
        font-size: 3em;
    }

    &__update-button {
        color: $color3;
        background: none;
        font-size: 3em;
    }
}

/*********** MAIN PAGE __ NEWS BLOCK ***********/

.news {
}

/*********** MAIN PAGE __ NEWS BLOCK__CARD COMPONENT ***********/

.card {
    font-size: 0.8em;
    margin: 1em 0;
    padding: 10px;
    border-radius: 8px;
    background-color: $color2;

    &__title {
        font-size: 2em;
        padding-bottom: 0.2em;
    }

    &__bottom {
        display: flex;
        justify-content: flex-start;
        & > div {
            margin-right: 1em;
        }
    }

    &__option {
    }

    &__option-text {
        color: $color3;
        font-weight: bold;
        font-style: italic;
    }

    &__author {
    }

    &__date {
    }

    &__rating {
    }
}

/*********** NEWS PAGE __ THE NEWS DETAIL (TOP OF THE COMMENTS) ***********/

.news-detail {
    margin: 1em 0;
    background-color: $color2;
    &__title {
        font-size: 2em;
        padding-bottom: 0.2em;
    }
    &__link {
        font-size: 2em;
        color: blue;
        &:hover {
            color: $color1;
        }
    }

    &__bottom {
        display: flex;
        justify-content: flex-start;
        & > div {
            margin-right: 1em;
        }
    }

    &__option {
    }

    &__date {
    }

    &__author {
    }

    &__count {
    }
}
.comments {
    margin: 4em 0 0 0;
    &__block-name {
        font-size: 2em;
        font-weight: 600;
    }
}
.comment {
    padding: 1.2em 0;
    font-size: 1em;
    &__comment-detail {
        padding-bottom: 0.5em;
        color: #828282;
    }
    &__author {
        margin-right: 1em;
    }

    &__date {
        margin-right: 1em;
    }
    &__replies {
    }

    &__text {
        p {
            padding-top: 7px;
        }
    }
}
